
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    background-color: #f0f0f0;
    margin: 0;
}

#seconds-counter {
    display: flex;
    gap: 10px;
    font-size: 2rem;
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.digit, .icon {
    background-color: #333;
    width: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
